#!/bin/bash
set -euo pipefail

# antidote
if [ ! -d "$HOME/.antidote" ]; then
  git clone --depth=1 https://github.com/mattmc3/antidote.git "$HOME/.antidote"
fi

# rust tools
# shellcheck source=/dev/null
source "$HOME/.cargo/env"
cargo install \
  bat \
  du-dust \
  exa \
  fd-find \
  hyperfine \
  jless \
  ripgrep \
  tealdeer \
  topgrade
