[[neovim.step]]
type = "command"
run = [
  "curl --clobber -L -o nvim.appimage http://github.com/neovim/neovim/releases/latest/download/nvim.appimage",
  "chmod +x nvim.appimage",
  "ln -s nvim.appimage nvim"
]
check = "test $(curl -s https://api.github.com/repos/neovim/neovim/releases/latest | jq -r .tag_name) = $(nvim --version | grep NVIM | cut -d' ' -f2)"
cwd = "~/bin"

[[neovim.step]]
type = "link"
source = "nvim"
dest = "~/.config"
basename = "nvim"
