[[vcs.step]]
type = "link"
source = "dot-files/gitconfig"
dest = "~/.gitconfig"

[[vcs.step]]
type = "link"
source = "dot-files/ignore"
dest = "~/.ignore"

[[vcs.step]]
type = "link"
source = "dot-files/ignore"
dest = "~/.gitignore"

[[vcs.step]]
type = "link"
source = "dot-files/jj-config.toml"
dest = "~/.config/jj/config.toml"

[[vcs.step]]
type = "dnf"
packages = ["meld"]

[[vcs.step]]
type = "apt"
packages = ["meld"]
