[user]
	name = Andrew Halberstadt
{{ if .enable_mozilla -}}
	email = ahal@mozilla.com
	signingkey = 83871F16BEF61C4F2CA5CFFE186B1CE58780653F
{{ else -}}
	email = ahal@pm.me
	signingkey = 5DD9F0C21329EA09A0A3F238F09CA0E91C1042EC
{{ end -}}
[color]
	ui = auto
[diff]
	context = 8
[cinnabar]
	helper = /home/ahal/.mozbuild/git-cinnabar/git-cinnabar-helper
	version-check = 1751638746
[mozreview]
	nickname = ahal
[core]
	excludesfile = /home/ahal/.ignore
[commit]
	gpgSign = true
[init]
	defaultBranch = main
