#!/bin/bash
{{ if not .enable_mozilla }}exit 0{{ end }}
set -euo pipefail

# MozPhab
~/.pyenv/shims/pipx install MozPhab || ~/.pyenv/shims/pipx upgrade MozPhab

# mozilla-unified
if [ ! -d "$HOME/dev/mozilla-unified" ]; then
  hg clone https://hg.mozilla.org/mozilla-unified "$HOME/dev/mozilla-unified"
else
  hg pull --update -R "$HOME/dev/mozilla-unified"
fi

# Symlink mach to ~/bin
ln -sf "$HOME/dev/mozilla-unified/mach" "$HOME/bin/mach"

# mozilla-unified project configs
ln -sf "{{ .chezmoi.sourceDir }}/m-c/pyrightconfig.json" "$HOME/dev/mozilla-unified/pyrightconfig.json"
ln -sf "{{ .chezmoi.sourceDir }}/m-c/hgrc" "$HOME/dev/mozilla-unified/.hg/hgrc"

# mach bootstrap
cd "$HOME/dev/mozilla-unified"
mach bootstrap --application-choice=browser

# sccache
rustup update
cargo install sccache

# mach completion
mach mach-completion zsh -f "$HOME/.zfunc/_mach"

# other repos
repos=(
  "https://hg.mozilla.org/ci/ci-configuration"
)
for repo in "${repos[@]}"; do
  name=$(basename "$repo")
  if [ ! -d "$HOME/dev/$name" ]; then
    hg clone "$repo" "$HOME/dev/$name"
  fi
done

git_repos=(
  "https://github.com/ahal/taskgraph"
  "https://github.com/ahal/scriptworker"
  "https://github.com/ahal/scriptworker-scripts"
)
for repo in "${git_repos[@]}"; do
  name=$(basename "$repo")
  if [ ! -d "$HOME/dev/$name" ]; then
    git clone "$repo" "$HOME/dev/$name"
  else
    git -C "$HOME/dev/$name" pull origin main
  fi
done
