[user]
name = "Andrew Halberstadt"
email = "ahal@mozilla.com"

[signing]
behavior = "own" 
backend = "gpg"
key = "EB2B039C5806F7CE4B4C64FADD4712C6E7AAB6F6"

[git]
push = "ahal"
fetch = ["origin", "ahal"]

[fsmonitor]
backend = "watchman"

[fsmonitor.watchman]
register-snapshot-trigger = false

[aliases]
heads = ["log", "-r", "visible_heads() & mutable()", "-T", "builtin_log_compact", "--no-graph"]
shortlog = ["log", "--limit=12"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "latest(::@ ~ empty())"]
pull = ["util", "exec", "--", "bash", "-c", """
if [ -z "$1" ]; then
    echo "missing branch"
    exit 1
fi
set -euo pipefail
jj git fetch -b $1
jj rebase -s "at_operation(@-, $1+) & mutable()" -d $1
""", ""]

[colors]
bookmarks = "green"
change_id = "blue"
"diff removed token" = { underline = false }
"diff added token" = { underline = false }
"node immutable" = "red"
"working_copy bookmarks" = "green"
"working_copy change_id" = "blue"

[revsets]
log = "present(@) | trunk() | ancestors(immutable_heads().. ~ ::untracked_remote_bookmarks(), 2)"

[revset-aliases]
"feat(x)" = "::x ~ immutable()"

[template-aliases]
"format_short_signature(signature)" = 'signature.email().local()'
"link(target, label)" = 'raw_escape_sequence("\x1b]8;;" ++ target ++ "\x1b\\") ++ label ++ raw_escape_sequence("\x1b]8;;\x1b\\")'

[templates]
git_push_bookmark = '"ahal/push-" ++ change_id.short()'

[ui]
default-command = "shortlog"
editor = "nvim"
merge-editor = ["meld", "$left", "$base", "$right", "-o", "$output", "--auto-merge"]
diff-formatter = ":git"

[ui.movement]
edit = true
